@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
body {
	background-color: #F5F6FA;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

main h1{
	font-family: 'Potta One', cursive;
	font-size: 4rem;
	text-align: center;
}

h3 {
	font-weight: 300;
}