@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
body {
	background-color: #F5F6FA;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300; 
}

main form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

main form h3 {
	margin-bottom: 0;
	font-size: 1.7rem;
}

main form section {
	display: inherit;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

main h1{
	font-family: 'Potta One', cursive;
	font-size: 4rem;
	text-align: center;
}

h3 {
	font-weight: 300;
}

form .form-control {
	margin: 0.4rem 0;
}

form .form-control label {
	display: block;
	font-size: 0.8rem;
}

form .form-control label.inline {
	display: inline;
}

form .btn {
	background-color: #9ae98e;
	font-size: 1.7rem;
	border-radius: 4px;
}

form .btn:hover {
	background-color: #7abd70;
}